$background-color: lightBlue;
$grid-line-color: white;
$touch-btn-bg-color: white;
$touch-btn-color: black;
$modal-bg-color-alt: rgb(173, 216, 230);
$modal-bg-color: rgba(173, 216, 230, 0.4);
$game-over-modal-bg-color: rgba(59, 13, 13, 0.8);
$modal-content-bg-color: gray;
$close-btn-color: black;
$close-btn-hover: red;
$game-over-text-color: white;