body {
    display:flex;
    justify-content: center;
    background-color: blue;
}

#gameGrid {
    background-color: black;
    color: white;
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    margin: 40px;
}