body {
    display:flex;
    justify-content:space-around;
    background-color: lightblue;
    flex-wrap: wrap;
    gap: 5px;
}

header {
    width: 100%;
}

button {
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.scoreBanner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: smaller;
}

.statsBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 5px;
}

#shapeStats {
    display: flex;
    border-right: 1px solid black;
}

#lineStats {
    display: flex;
    padding-left: 10px;
    justify-content: space-evenly;
}

.gameArea {
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items:start;
}

#gameGrid {
    display: grid;
    background-color: white;
    gap: 1px;
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

aside {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content:space-evenly;
    align-items:center;
}


.asideShapes {
    display:grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: 10px 10px;
    grid-auto-flow:column;
}

#shapeStats span {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#lineStats span {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.oval {
    padding: 25px 15px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid black;
    
}

.linesText {
    font-size: smaller;
    margin: 2px;
    padding-right: 5px;
    width: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(173, 216, 230);
    background-color: rgba(173, 216, 230, 0.4)
}

.modal-content {
    background-color: gray;
    padding: 20px;
}

.close {
    color: black;
    float: right;
    font-size: large;
    font-weight: bold;
}

.close:hover, close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}